body {
  margin: 0;
}

#main {

  width: 100%;
  height: 100vh; /* Modifiquei para ocupar 100% da altura da viewport */
  display: flex;
  align-items: center; /* Centraliza verticalmente os filhos */
  justify-content: center; /* Centraliza horizontalmente os filhos */
}

#game-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 8px;
  height: 50%; /* Alterei para ocupar 100% da altura do #main */
}

.card {
  position: relative; /* Adicionado position relative para alinhar o valor no centro */
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  background-color: #ccc;
  transition: background-color 0.5s ease;
}

.card .card-value {
  display: none; /* Inicialmente oculta o valor da carta */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.flipped .card-value {
  display: block; /* Exibe o valor quando a carta é virada */
}

.card.matched .card-value {
  display: block; /* Mantém o valor visível quando há uma correspondência */
}

.card.flipped {
  background-color: #7ccff6;
}

.card.matched {
  background-color: #9be36c;
}

.card.not-matched {
  background-color: #fe3636;
}
